.hero {
  min-height: 580px;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  align-items: center;
  gap: 40px;
}

.heroContent {
  max-width: 620px;
}

.hero h2 {
  margin: 14px 0 20px;
  color: var(--text-primary);
  font-size: clamp(30px, 5vw, 68px);
}

.hero h2 span {
  display: block;
  color: var(--primary);
}

.hero p {
  color: var(--text-secondary);
  font-size: 18px;
}

.heroButtons {
  display: flex;
  gap: 12px;
}

.primaryButton,
.secondaryButton {
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 13px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  transition: 0.2s ease;
}

.primaryButton {
  background: var(--bg-dark);
  color: white;
}

.primaryButton:hover {
  background: var(--primary);
  transform: translateY(-2px);
}

.secondaryButton {
  background: var(--bg-card);
  color: var(--text-primary);
  border: 1px solid var(--border);
}

.secondaryButton:hover {
  border-color: var(--primary);
  color: var(--primary);
}

.heroVisual {
  height: 420px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 300px;
  height: 300px;
  position: absolute;
  background: var(--border);
  border-radius: 50%;
}

.heroCard {
  width: 250px;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 15px;
  background: var(--bg-dark);
  color: white;
  border-radius: 20px;
  transform: rotate(-4deg);
  box-shadow: 0 25px 50px var(--shadow);
}

.heroCardIcon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 14px;
  font-weight: 800;
}

.heroCard span {
  display: block;
  margin-bottom: 5px;
  color: var(--primary);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.heroCard div {
  font-size: 15px;
  line-height: 1.4;
}

.floatingCard {
  position: absolute;
  right: 10%;
  bottom: 65px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 15px;
  background: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: 10px;
  box-shadow: 0 10px 25px var(--shadow);
  color: var(--text-secondary);
  font-size: 12px;
  font-weight: 600;
}

.floatingCard svg {
  color: var(--primary);
}

.sectionHeading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 25px;
}

.sectionHeading>a {
  color: var(--text-secondary);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.sectionHeading>a:hover {
  color: var(--primary);
}



.categoryGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.categoryCard {
  min-height: 190px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 22px;
  overflow: hidden;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
  background: #52525b;
}

.categoryCard:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px var(--shadow);
}

.categoryCard>span {
  position: absolute;
  top: 18px;
  right: 18px;
  opacity: 0.5;
  font-size: 11px;
}

.categoryCard h3 {
  margin: 0 0 5px;
  font-size: 18px;
}

.categoryCard p {
  margin: 0;
  opacity: 0.75;
  font-size: 11px;
}

.categoryCard svg {
  position: absolute;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  transition: 0.2s ease;
}

.categoryCard:hover svg {
  opacity: 1;
}

.features {
  padding: 55px;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 50px;
  background: var(--primary-light);
  border-radius: 20px;
}

.featureHeading h2 {
  margin: 8px 0 10px;
  color: var(--text-primary);
  font-size: 27px;
}

.featureHeading p {
  color: var(--text-secondary);
  font-size: 14px;
}

.featureHeading span {
  color: var(--primary);
  font-weight: 600;
}

.featureGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.featureIcon {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-card);
  color: var(--primary);
  border-radius: 10px;
}


.feature p {
  font-size: 13.5px;
  font-weight: 600;
  color: var(--text-secondary);
}

.featured {
  margin-bottom: 20px;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.cta h5{
  margin: 7px 0;
}

.cta {
  margin-bottom: 50px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-dark);
  color: white;
  border-radius: 18px;
  font-size: 20px;
}

.cta p {
  margin: 0;
  color: var(--text-card);
  font-size: 13px;
}

.ctaButton {
  display: flex;
  align-items: center;
  padding: 13px 20px;
  background: var(--primary);
  color: white;
  border-radius: 9px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 110px;
  }

  .heroContent {
    margin: auto;
  }

  .hero p {
    margin-left: auto;
    margin-right: auto;
  }

  .heroButtons {
    justify-content: center;
  }

  .heroVisual {
    height: 300px;
  }

  .categoryGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .features {
    grid-template-columns: 1fr;
    padding: 35px;
  }

  .featureHeading p {
    max-width: 500px;
  }

  .productGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .home {
    width: calc(100% - 30px);
  }

  .hero {
    min-height: auto;
    margin-bottom: 70px;
  }

  .hero h1 {
    font-size: 40px;
    letter-spacing: -1.5px;
  }

  .hero p {
    font-size: 13px;
  }

  .heroButtons {
    flex-direction: column;
  }

  .primaryButton,
  .secondaryButton {
    justify-content: center;
  }

  .heroVisual {
    height: 240px;
  }

  .circle {
    width: 220px;
    height: 220px;
  }

  .heroCard {
    width: 220px;
    height: 145px;
    padding: 18px;
  }

  .heroCardIcon {
    width: 45px;
    height: 45px;
  }

  .floatingCard {
    right: 0;
    bottom: 15px;
  }

  .sectionHeading h2 {
    font-size: 21px;
  }

  .categoryGrid {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .categoryCard {
    min-height: 160px;
    padding: 16px;
  }

  .categoryCard h3 {
    font-size: 15px;
  }

  .categoryCard p {
    font-size: 10px;
  }

  .features {
    padding: 25px;
    gap: 30px;
  }

  .featureGrid {
    grid-template-columns: 1fr;
  }

  .productGrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .cta {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
  }

  .ctaButton {
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
  }
}